#site {
    display: grid;
}

#header {
    grid-area: header;
}

#navigation {
    grid-area: navigation;
}

#content {
    grid-area: content;
    padding-left: 15px;
    padding-right: 30px;
}

#footer {
    grid-area: footer;
}
