#site {
    display: grid;
}

#header {
    grid-area: header;
}

#navigation {
    grid-area: navigation;
}

#content {
    grid-area: content;
    padding-left: 15px;
    padding-right: 30px;
}
#content img {
    max-width: 95%;
    margin-top: 12px;
    margin-bottom: 12px;
}

#footer {
    grid-area: footer;
}


