#site {
    display: grid;
}

#header {
    grid-area: header;
}

#navigation {
    grid-area: navigation;
}

#content {
    grid-area: content;
    padding-left: 15px;
    padding-right: 15px;
}

#footer {
    grid-area: footer;
}

#content pre {
    overflow: scroll;
    max-width: 90vw;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#content img {
    width: 80vw;
    margin-top: 24px;
    margin-bottom: 24px;
}
