body {
    background-color: black;
    color: white;
}

#header a {
    color: white;
}

.svgimg {
    filter: invert(1);
}

a,a>span {
    color: #268bd2;
}

li::marker {
    color: white;
}
.post-titel,.post-titel > a:visited {
    color: white;
    text-decoration: none;
}
.post-tag {
    color: gray;
}
