body {
    font-family: 'DejaVu Sans', Georgia, sans-serifs, serif
}

.subtitle {
    font-size: small;
    color: gray
}

blockquote {
    font-style: italic;
}

blockquote > p::before, blockquote > p::after {
    content: 'â€';
}

code {
    font-weight: bold;
}

.post-titel > a {
    text-decoration: none;
}
.post-titel > h1 {
    color: black;
    margin-bottom: 0;
}

.icon {
    margin: 0;
}
