<ul>
    {{ $currentPage := . }}
    {{ if ne $currentPage.RelPermalink "/" }}
        <li class="mobileonly"><a href="{{ "/" | absLangURL }}">Home</a></li>
    {{ end }}
    <li class="mobileonly"><a href="https://matrix.to/#/{{ .Site.Params.matrix }}">Matrix</a></li>
    <li class="mobileonly"><a href="mailto:{{ .Site.Params.email }}">Email</a></li>
    <li class="mobileonly"><a href="{{ .Site.Params.mastodon }}">Mastodon</a></li>
    <li class="mobileonly"><a href="https://github.com/{{ .Site.Params.github }}">GitHub</a></li>
    <li class="mobileonly"><a href="{{ "/sitemap" | absURL }}">Sitemap</a></li>
    <li class="mobileonly"><a href="{{ "/atom.xml" | absURL }}">Atom Feed</a></li>
    <hr class="mobileonly menudivider" />
    {{ range .Site.Menus.topic }}
        <li>
            <a href="{{ .URL }}" class="{{ if $currentPage.IsMenuCurrent "topic" . }}active{{ end }}">{{ .Pre }}{{ .Name }}</a>
        </li>
    {{ end }}
</ul>
