---
title: Verification
draft: true
menu: topic
categories:
- snippet
tags:
- verification
- formal
---

https://en.wikipedia.org/wiki/TLA%2B

https://github.com/tlaplus/tlaplus

http://lamport.azurewebsites.net/tla/learning.html?unhideBut=hide-hillel&unhideDiv=hillel

https://in-toto.io/
